<!DOCTYPE html>
<html lang="en" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.dz/thymeleaf/layout"
	layout:decorator="layout/brewer-layout">

	<head>
		<title>Style Register</title>
	</head>

	<body>
		<section layout:fragment="content">
			
			<div class="page-header">
				<div class="container-fluid">
					<h1>Style Register</h1>
				</div>
			</div>
	
			<div class="container-fluid">

				<form method="POST" th:object="${style}" class="form-vertical  js-form-loading">
					
					<th:block th:include="fragments/validation-error-message"></th:block>					
					<th:block th:include="fragments/register-success-message"></th:block>
				
					<div class="row">
						<div class="form-group col-sm-12" th:classappend="${#fields.hasErrors('name')}? has-error">
							<label for="name" class="control-label">Name</label>
							<input id="name" type="text" class="form-control" th:field="*{name}"/>
						</div>
					</div>
				
					<div class="form-group">
						<button class="btn btn-primary" type="submit">Save</button>
					</div>
				</form>
			</div>
			
		</section>
		
	</body>	
</html>